		.nav{
		 	display: flex;
		 	flex-flow: row wrap;
		 	list-style: none;
		 	margin: 0;
		 	background: #395144;
		 	padding: 10px;
		 }
		 .nav a{
		 	text-decoration: none;
		 	display: block;
		 	padding: 1em;
		 	color: white;
		 }
		 .nav a:hover{
		 	background: #4E6C50;
		 }
		 .nav1{
		 	display: flex;
		 	flex-flow: row wrap;
		 	justify-content: center;
		 	list-style: none;
		 	margin: 0;
		 }
		 .nav1 a{
		 	text-decoration: none;
		 	display: block;
		 	padding: 1em;
		 	color: white;
		 }
		 .nav1 a:hover{
		 	color: black;
		 }
		 .nav2{
		 	display: flex;
		 	flex-flow: row wrap;
		 	justify-content: center;
		 	list-style: none;
		 	margin: 0;
		 }
		 .nav2 a{
		 	text-decoration: none;
		 	display: block;
		 	color: white;
		 }

		 .flex-container{
		 	display: flex;
		 	flex-flow: row wrap;
		 	padding: 0;
		 	margin: 0;
		 	list-style: none;
		 }
		 .flex-item{
		 	padding: 10px;
		 	margin-top: 10px;
		 	line-height: 10px;
		 }
		 .card
		{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			width: 80%;
			border-radius: 2px;
			margin-left: auto;
			padding-top: 10px;
			padding-bottom: 20px;
			margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.card:hover
		{
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		.container
		{
			padding: 2px 16px;
		}
		.wrapper
		{
			margin-right: auto;
			margin-left: auto;
		}
		.wrapper .input
		{
			width: 85%;
			padding: 15px 20px;
			border:  none;
			border-radius: 5px;
			font-weight: bold;
		}
		#more {display: none;}

		input[type=text]{
			float: left;
			padding: 5px;
			border: none;
			font-size: 12px;
		}
		.footer {
  			position: fixed;
  			left: 0;
  			bottom: 0;
  			width: 100%;
  			background-color: #395144;
  			color: white;
  			text-align: center;
		}
